/* Test.css */
.test-container {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-button {
  position: absolute;
  transition: 0.5s;
}
