bbody {
  margin: 0;
  max-width: 80%; /* Set your desired maximum width as a percentage */
  max-height: 80vh; /* Set your desired maximum height using viewport height units */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
